apiVersion: v1
kind: Service
metadata:
  name: hello-nodeport
spec:
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30008
  type: NodePort

