apiVersion: v1
kind: Service
metadata:
  name: hello-clusterip
spec:
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: clusterip  # Use NodePort if not on cloud

